h1 {
  font-size: xxx-large;
  text-align: center;
  border: solid goldenrod;
  background-color: white;
  padding: 20px;
  border-width: 20px;
  margin-bottom: auto;
  box-sizing: border-box;
}

body {
  color: navy;
  font-family: "Brush Script MT", cursive;
}

h2 {
  font-size: xx-large;
  text-align: center;
}

h3 {
  font-size: x-large;
  text-align: center;
}
